#shouldBeInertIfModalIsOpen > div.page.page--fixedHeight > main > section > div > div > div > div:nth-child(2) > div > div > div > div > div.utteranceContainer__stash.utteranceContainer__stash--top > div > div.stash__body > div.stash__list{
    height:450px;
}

#fluid-layout-overlay-portal-0 > div > div.intentPanel > div > button{
    display:none
}

.ds-tabs--horizontal{
    height:43px;
}

.DS-button.activated{
    background:#f4d6e9;
    border-color:#eeb9de;
    color:#000;
}

/* .utteranceContainer__filterWrapper .ds-tab.ds-tab--horizontal, .objectColumnContainer > .ds-tabs > .ds-tab.ds-tab--horizontal{
    border:none;
    box-shadow:none;
}

.utteranceContainer__filterWrapper .ds-tab.ds-tab--horizontal.ds-tab--isActive, .objectColumnContainer > .ds-tabs > .ds-tab.ds-tab--horizontal.ds-tab--isActive{
    border-bottom:5px solid blue;
} */

.stash .ds-tab.ds-tab--horizontal{
    border:none;
    box-shadow:none;
}

.stash .ds-tab.ds-tab--horizontal.ds-tab--isActive{
    border-bottom:3px solid blue;
}


/* .pill--light{
    background-color:rgb(244, 214, 233);
} */
