#fluid-layout-overlay-portal-0 > div > div.intentPanel > div > button{
    display:none
}

.ds-tabs--horizontal{
    height:43px;
}

.utteranceContainer__filterWrapper .ds-tab.ds-tab--horizontal, .objectColumnContainer > .ds-tabs > .ds-tab.ds-tab--horizontal{
    border:none;
    box-shadow:none;
}

.utteranceContainer__filterWrapper .ds-tab.ds-tab--horizontal.ds-tab--isActive, .objectColumnContainer > .ds-tabs > .ds-tab.ds-tab--horizontal.ds-tab--isActive{
    border-bottom:5px solid blue;
}


/* .pill--light{
    background-color:rgb(244, 214, 233);
} */
