#shouldBeInertIfModalIsOpen > div.page.page--fixedHeight > main > section > div > div > div > div:nth-child(2) > div > div > div > div > div.utteranceContainer__stash.utteranceContainer__stash--top > div > div.stash__body > div.stash__list{
    height:450px;
}

#shouldBeInertIfModalIsOpen > div.page.page--fixedHeight > main > section > div > div > div > div:nth-child(2) > div > div > div > div > div.utteranceContainer__stash.utteranceContainer__stash--top > div > div.stash__body > div.stash__toggleButton{
    display:none
}

#fluid-layout-overlay-portal-0 > div > div.intentPanel > div > button{
    display:none
}

.ds-tabs--horizontal{
    height:43px;
}

.utteranceContainer__filterWrapper .ds-tab.muted{
    color:#bbb;
}

.DS-button.activated{
    background:#f4d6e9;
    border-color:#eeb9de;
    color:#000;
}

.showIntentDataCTA{
    display:none;
}


#shouldBeInertIfModalIsOpen > div.page.page--fixedHeight > header > div.page__subheader > div > div > div.stack.stack--horizontal.stack--fullHeight.stack--gapSmall.stack--verticalPadSmall{
    display:none;
}

/* .page__header{
    display:none;
} */

#shouldBeInertIfModalIsOpen > div.page.page--fixedHeight > main > section > div > div > div > div:nth-child(1){
    margin-top:-45px;
}

#shouldBeInertIfModalIsOpen > div.page.page--fixedHeight > main > section > div > div > div > div:nth-child(2){
    margin-top:-45px;
}

.hidden{
    display:none !important;
}

/* .stash{
    margin-top:-10px;
} */

.stash .ds-tab--isActive .pill{
    background: #eeb9de;
    color:#000;
    border:1px solid #eeb9de;
}

#fluid-layout-overlay-portal-1 > div > div > div > div.utteranceContainer__stash.utteranceContainer__stash--top.depth{
    position:relative;
    /*top:-18px;*/
}

#fluid-layout-overlay-portal-1 > div > div > div > div.utteranceContainer__filterWrapper > div > div.stack.stack--horizontal.stack--fullHeight.stack--fullWidth.stack--gapSmall > div.ds-tabs.ds-tabs--horizontal.depth{
    margin-left:25px;
}

.ds-tab--horizontal{
    background:#fff;
}

#fluid-layout-overlay-portal-1 > div > div > div > div.utteranceContainer__filterWrapper > div > div.filters.ds-tabs.ds-tabs--horizontal > div.predicateWrapper__pills > div{
    /* border-bottom-color:#fff;
    box-shadow:0px 11px 19px -1px #97a3c6; */
    position:relative;
    top:-10px;
}

#fluid-layout-overlay-portal-1 > div > div > div > div.utteranceContainer__filterWrapper > div > div.filters.ds-tabs.ds-tabs--horizontal > div.predicateWrapper__pills > div#data_tab{
    border-bottom-color:#fff;
    box-shadow:0px 11px 19px -1px #97a3c6;
    position:relative;
    top:0px;
}

.stack .genericPredicatePill{
    display:flex;
}


.predicateWrapper__pills .genericPredicatePill{
    display:none;
} 

.stack .genericPredicatePill.explorePredicateImplicitIntentMatch__pill{
    display:flex;
}

.stack > div > button > .genericPredicatePill.explorePredicateImplicitIntentMatch__pill{
    display:flex;
    background:#fff;
    border:none;
}

.stack > div > button.ds-tab--isActive > .genericPredicatePill.explorePredicateImplicitIntentMatch__pill  .genericPredicatePill__predicateValue{
    background:oldlace;
}

.stack > div > button > .genericPredicatePill.explorePredicateImplicitIntentMatch__pill  .genericPredicatePill__predicateValue{
    font-weight:normal;
    border:none !important;
    background:oldlace;
    color:#3f5597;
}

.stack > div > button.ds-tab--isActive > .genericPredicatePill.explorePredicateImplicitIntentMatch__pill  .genericPredicatePill__predicateValue{
    background:oldlace;
    color:#5064fb;
}

.stack > div > button.muted > .genericPredicatePill.explorePredicateImplicitIntentMatch__pill  .genericPredicatePill__predicateValue{
    color:#bbb;
    background:#fff
}

.nlgFilter__content{
    color:#000;
    background-color:oldlace !important;
}

.fluidLayout__handles__left.prompt{
    top:10px;
    left:10px
}



/* .sortableTable__actionType .ds-checkbox{
    margin-left:0px;
} */

.intentPanel .DS-virtualTable td{
    padding-left:0px;
}

.promptPanel__pinnedObjectPath.relocate{
    margin-top:-50px;
    margin-left:50px;
    width:70%;
}

.promptPanel__pinnedObjectPath .objectPath{
    display:none;
}

.promptNameField .textInput__input{
    font-size:1.3em;
    margin-left:-5px;
    margin-top:8px;
    /*background:oldlace;*/
    padding-left:10px;
}

/* .promptRunMode{
    display:none;
} */

.promptRunMode.active{
    display:block;
}

/* .runPrompt{
    display:none;
} */

.runPrompt.active{
    display:flex;
}

.objectColumn__create{
    display:none;
}

.DS-button__tercery{
    border:1px solid #bac0de;
    color:#3f5597;
    background:#fff;
}

.DS-button__tercery:hover{
    border:1px solid #eeb9de;
    background:#fff;
}


.intentPanel__return h2{
    display:none !important;
}

.intentPanel .intentPanel__pinnedObjectPath{
    margin-left:40px;
    margin-top:-20px;
    width:80%;
}

.intentPanel .intentPanel__pinnedObjectPath input{
    margin-left:-10px;
    padding:10px;
}

/* .ds-tab{
    background:#fff;
} */

/* #fluid-layout-overlay-portal-1 > div > div > div > div.utteranceContainer__filterWrapper > div > div.stack.stack--horizontal.stack--fullHeight.stack--fullWidth.stack--gapSmall{
    display:none;
} */

/* .utteranceContainer__filterWrapper .ds-tab.ds-tab--horizontal, .objectColumnContainer > .ds-tabs > .ds-tab.ds-tab--horizontal{
    border:none;
    box-shadow:none;
}

.utteranceContainer__filterWrapper .ds-tab.ds-tab--horizontal.ds-tab--isActive, .objectColumnContainer > .ds-tabs > .ds-tab.ds-tab--horizontal.ds-tab--isActive{
    border-bottom:5px solid blue;
} */



/* .stash .ds-tab.ds-tab--horizontal{
    border:none;
    box-shadow:none;
}

.stash .ds-tab.ds-tab--horizontal.ds-tab--isActive{
    border-bottom:3px solid blue;
} */



